header{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff1f3;
    z-index: 2022;
    transition: all .3s;
    .after{
        width: 100%;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 0.2rem;
            background-color: #FFF;
            bottom: -5rem;
            z-index: 10;
        }
    }
    .container{
        position: relative;
        .main-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .more{
                display: flex;
                a{
                    span{
                        margin-right: 1.6rem;
                        font-weight: normal;
                        font-size: 1.6rem;
                        line-height: 160%;
                        text-decoration: underline;
                    }
                }
            }
            .redes-sociais{
                display: flex;
                align-items: center;
                img{
                    &:not(:first-child){
                        margin-left: 3.4rem;
                    }
                }
            }
        }
    }
    .btn-header{
        position: absolute;
        bottom: -6.5rem;
        padding: 0.8rem 1.6rem;
        background-color: #FFF;
        border-radius: 12.2rem;
        z-index: 11;
        span{
            font-weight: normal;
            font-size: 1.3rem;
            line-height: 1.6rem;
            letter-spacing: -0.01em;
            color: #F04264;
        }
    }
    @include responsive(600px){
        .container{
            .main-header{
                .more, .redes-sociais{
                    display: none;
                }
            }
        }
    }
}
